<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />

<head th:replace = "config/mainConfigure :: configFrame">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<title>(주)엔케이에스씨</title>
<body>
<article th:replace = "view/header :: head"></article>
<article layout:fragment = "bodyContainer" class="main">

  <table class="table_board">
    <colgroup>
      <col style="width:10%"/>
      <col style="width:20%"/>
      <col style="width:50%"/>
      <col style="width:20%"/>
    </colgroup>
  
    <th:block th:if="${adminList}==0">
      <tr>
        <td>id</td>
        <td>name</td>
        <td>type</td>
        <td>tel</td>
        <td>emain</td>
        <td>date</td>
        <td>address</td>
        <td>content</td>
        <td>createDate</td>
      </tr>
      <tr th:each="list: ${list}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.type}"></td>
        <td th:text="${list.tel}"></td>
        <td th:text="${list.email}"></td>
        <td th:text="${list.date}"></td>
        <td th:text="${list.address}"></td>
        <td th:text="${list.content}"></td>
        <td th:text="${list.createDate}"></td>
      </tr>
    </th:block>
    
      <th:block th:if="${adminList}==1">
      <tr>
        <td>id</td>
        <td>name</td>
        <td>tel</td>
        <td>type</td>
        <td>address</td>
        <td>createDate</td>
      </tr>
      <tr th:each="list: ${list}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.tel}"></td>
        <td th:text="${list.type}"></td>
        <td th:text="${list.address}"></td>
        <td th:text="${list.createDate}"></td>
      </tr>
    </th:block>

	<a th:text="글작성" th:href="@{'/board/'+${siteName}+'/write'}"></a>


    <tfoot>
      <tr>
        <td colspan="4">페이징 부분</td>
      </tr>
    </tfoot>
  </table>
</article>
</body>
</html>


