<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

<form th:action="@{insertOk}">
<table class="table">
	<tr>
		<td>id</td>
		<td><input name="id" readonly="readonly"/></td>
	</tr>
	
	<tr>
		<td>title</td>
		<td><input name="title"/></td>
	</tr>
	
	<tr>
		<td>content</td>
		<td><input name="content"/></td>
	</tr>

	<tr>
		<td>createDate</td>
		<td><input name="createDate" readonly="readonly"/></td>
	</tr>	
</table>

<nav>
	<input type="submit" value="추가"/>
	<a th:href="@{/}">목록으로</a>
</nav>
</form>