<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />

<head th:replace = "config/mainConfigure :: configFrame">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<title>(주)엔케이에스씨</title>
<body>
<article th:replace = "view/header :: head"></article>
<article layout:fragment = "bodyContainer" class="main">

	<form th:action="@{insertOk}">
		<table class="table">
			<tr>
				<td>id</td>
				<td>name</td>
				<td>tel</td>
				<td>type</td>
				<td>address</td>
				<td>createDate</td>
			</tr>

			<tr th:each="list: ${officeList}">
				<td th:text="${list.id}"></td>
				<td th:text="${list.name}"></td>
				<td th:text="${list.tel}"></td>
				<td th:text="${list.type}"></td>
				<td th:text="${list.address}"></td>
				<td th:text="${list.createDate}"></td>
			</tr>
		</table>


		<nav>
			<input type="submit" value="추가"/>
			<a th:href="@{/}">목록으로</a>
		</nav>
	</form>
</article>

</body>
</html>