<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />

<head th:replace = "config/mainConfigure :: configFrame">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<title>(주)엔케이에스씨</title>
<body>
<article th:replace = "view/header :: head"></article>
<article layout:fragment = "bodyContainer" class="main">
	<img src="https://dummyimage.com/1200x400/53b037/fff"/>
	<form th:action="@{updateOk}">
		<table class="table">
			<tr>
				<td>id</td>
				<td><input name="id" th:value="${update.id}" readonly="readonly"/></td>
			</tr>

			<tr>
				<td>title</td>
				<td><input name="title" th:value="${update.title}"/></td>
			</tr>

			<tr>
				<td>content</td>
				<td><input name="content" th:value="${update.content}"/></td>
			</tr>

			<tr>
				<td>createDate</td>
				<td><input name="createDate" th:value="${update.createDate}" readonly="readonly"/></td>
			</tr>
		</table>

		<nav>
			<input type="submit" value="수정완료"/>
			<a th:href="@{/}">목록으로</a>
		</nav>
	</form>
</article>
<article th:replace = "view/footer :: foot"></article>
</body>
</html>