<footer th:fragment="foot">
	<article class="footerContainer">
		<menu>
			<li><a>개인정보방침</a></li>
			<li><a>이용약관</a></li>
			<li><a>회사소개</a></li>
			<li><a>온라인문의</a></li>
		</menu>
		<h2>(주)엔케이에스씨</h2>
		<ul>
			<li><b>대표이사</b><span>김지은</span></li>
			<li><b>주소</b><span>경기도 수원시 권선구 탑동로 36번길2</span></li>
			<li><b>사업자 등록번호</b><span>845-81-00547</span></li>
		</ul>
		<span>Copyright&copy;Nksc All Rights Reserved.</span>
		<img src="/img/common/logo_foot.png" alt="logo" />
	</article>
</footer>