<header th:fragment="headerFragment">
	<ul th:each="sitemap: ${siteMap}">
		<li th:if="${sitemap.depth}==0">
			<div th:text="${sitemap.id}"></div>
			<a th:text="${sitemap.name}" th:href="@{'/board/'+${sitemap.name}+'/'}"></a>
		</li>
	</ul>
	<a role="button" th:href="@{/login}" th:if="${session.admin}==null">관리자 로그인</a>
	<a role="button" th:href="@{/logout}" th:if="${session.admin}">관리자 로그아웃</a>

<div th:if="${session.admin}">
	<a th:href="@{/text/onlineList}">온라인신청 현황</a>
	<a th:href="@{/text/officeList}">지사모집 현황</a>
</div>
</header>
